@mixin border-box {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

$grid-columns: 12;
$grid-max-width: 9em;
$breakpoint-small: "only screen and (min-width: 40em)";
$breakpoint-medium: "only screen and (min-width: 40em)";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.conainer {
  width: 100%;
  margin: 5% auto;
}

.container, .row {
  *zoom: 1;
}

.conainer:before, .row:before, .conainer:after, .row:after {
  content: "  ";
  display: table;
}

.conainer:after, .row:after {
  clear: both;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

.reverse-row{
	width: 60%;
	display: flex;
	flex-direction: row-reverse;
}
.center-row{
	display: flex;
	justify-content: center;
	margin: 1% auto;
	display: -ms-flexbox;
	-webkit-box-orient: horizontal;
}
.center-colum{
	width: 60%;
	display: flex;
	justify-content: center;
	margin: 1% auto;
	flex-direction: column;
	display: -ms-flexbox;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
}




.container {
	max-width : 1920px;
	margin-top: 2%;
	}
.container *{
	box-sizing: border-box;
}
.row:before,
.row:after {
	content:" ";
	display: table ;
	clear:both;
}



@media #{$breakpoint-small} {
  .conainer {
      width: 95%;
      max-width: $grid-max-width;
    }

  @for $i from 1 through $grid-columns {
    .column-#{$i}{
      width: 100% / $grid-columns * $i;
    }
  }
}
